
body {
  background-color: #b0f7ef;
  font-family: "Lucida Handwriting", cursive;
}

h1, h2, h3 {
  color: #4e42f5;
  font-family: Monaco, monospace;
  font-weight: bold;
}

.bio {
  color: #33bb99;
  font-weight: bold;
  background-color: #f7ebb0;
  padding: 20px;
  border: solid 1px;
  margin: 10px;
}

#pic {
  object-fit:cover;
  float: right;
  border-radius:50%;
}

.labsection {
  background-color: #f7ebb0;
  padding: 20px;
  border: solid 1px;
  margin: 10px;
}
